<tr>
  <td><%= income.amount %></td>
  <td><%= link_to 'Details', income_path(income) %></td>
  <td><%= link_to 'Edit', edit_income_path(income) %></td>
  <td><%= link_to 'Delete', income_path(income), method: :delete %></td>
</tr>

