<table class="table">
  <thead>
    <tr>
      <th>Income per Month</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @incomes.each do |income| %>
      <%= render 'table', :income => income %>
    <% end %>
  </tbody>
</table>
