<p>
  Type: <%= @fixed_cost.type.name %>.
</p>
<p>
  Cost per Payment: <%= @fixed_cost.amount %>.
<p>
  <%= @fixed_cost.frequency %> Monthly payment.
</p>
<p>
  Description: <%= @fixed_cost.description %>
</p>
